@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  margin: 3rem 5rem;
}

header {
 text-align: center;
 display: grid;
 place-items: center;
 margin-bottom: 3rem;
}
.title {
  display: grid;
  text-align: center;
  font-size: 30px;
  
}
.title p:nth-child(1) {
  color: hsl(229, 6%, 66%);
  font-weight: 200;
  margin-bottom: 0;
}
.title p:nth-child(2) {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
header > p {
  color: hsl(229, 6%, 66%);
  max-width: 36rem;
}

main {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 0;
  gap: 1rem;
  /* padding: auto 4rem; */
}

.grid-component {
  position: relative;
  padding: 1rem;
  padding-left: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 20px 1px rgb(206, 205, 205);
  height: 18rem;
  max-width: 32rem;
}

.supervisor {
  transform: translateY(200px);
  border-top: 5px solid hsl(180, 62%, 55%);
}
.team-builder {
  border-top: 5px solid red;
}

.karma {
  border-top: 5px solid hsl(34, 97%, 64%);
}

.calculator {
  transform: translateY(200px);
  border-top: 5px solid hsl(212, 86%, 64%);
}

.grid-component h2 {
  margin-bottom: 0;
}

.grid-component p {
  color: hsl(229, 6%, 66%);
}

svg {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.team-builder-karma {
  display: grid;
  gap: 1rem;
}


@media (max-width:800px){
  header > p {
    width: 88%;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .grid-component {
    max-height: 15rem;
    max-width: 25rem;
    transform: translateY(0);
  }
}
