@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

body {
  background-image: url(images/bg-pattern-bottom-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  font-family: 'League Spartan', sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  display: grid;
  gap: 1rem;
  grid-template-areas: 
  'header rating rating'
  'comments comments comments';
  max-width: 70%;
}

.product-header {
  grid-area: header;
}

.product-rating {
  grid-area: rating;
  display: grid;
  gap: 0.8rem;
  padding: 3rem 0;
}

.comment-section {
  grid-area: comments;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3,1fr);
}

.product-header h1 {
  color: hsl(300, 43%, 22%);
  font-size: 40px;
  font-weight: 700;
  width: 70%;
}

.product-header p {
  color: hsl(303, 10%, 53%);
  font-weight: 500;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color:  hsl(300, 24%, 96%);
  border-radius: 0.8rem;
  width: 70%;
  padding: 0 1rem;
}

.product-rating .stars {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 2rem;
}

.flex-container p {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 0.8rem;

}

.rating-reportGuru {
  transform: translateX(40px);
}

.rating-bestTech {
  transform: translateX(80px);
}

.flex-group {
  background-color: hsl(300, 43%, 22%);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.person {
  display: flex;
  align-items: center;
}

.person-info h3{
  color: white;
  font-weight: 500;
  margin-bottom: 0;
}
.person-info p {
  color: hsl(333, 80%, 67%);
  margin-top: 0.3rem;
}
.flex-group > p {
  color: white;
  font-weight: 400;
  font-size: 15px;
}
.flex-group:nth-child(2) {
  transform: translateY(15px);
}
.flex-group:nth-child(3) {
  transform: translateY(30px);
}

img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

@media (max-width:600px) {

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'header'
    'rating'
  'comments';
    max-width: 25rem;
  }
  .product-header {
    text-align: center;
    margin-top: 3rem;
  }
  .product-header h1 {
    margin: auto;
  }
  .product-rating {
    display: grid;
    grid-template-columns: 1fr;
  }
  .comment-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem;
    align-items: center;
    justify-content: center;
  }
  .product-rating {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .product-rating .stars {
    display: flex;
    margin-left: 1rem;
    margin-top: 0.3rem;
  }
  .flex-container {
    padding: 0.6rem;
    display: grid;
    text-align: center;
    width: 100%;
    place-items: center;
    justify-content: center;
    transform: translateX(0px);
  }
  
}
